* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
}

.main__title h1 {
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

p {
    font-size: small;
}

header {
    background-color: #E8E8E8;
    text-align: center;
    height: 80px;
    padding: 15px;
}

.header__icon {
    display: none;
}

h2 {
    color: orange;
    text-align: center;
    margin-top: 0;
    font-size: 22px;
}

.content-left h3 {
    margin-top: 45px;
    font-size: 16px;
}

.header-logo {
    float: left;
    width: 20%;
    height: 50px;
}

.header-nav {
    width: 60%;
    float: left;
    line-height: 50px;
}

.header-nav a:link, a:visited {
    border-right: solid 2px black;
    text-decoration: none;
    color: black;
    padding: 0 15px;
    text-align: center;
}

.header-nav a:last-child {
    border-right: 0;
}

.img-center {
    height: 150px;
    width: 260px;
}

.logo {
    float: left;
    width: 200px;
    height: 50px;
}

.search-icon {
    float: right;
    width: 40px;
    height: 40px;
    padding-top: 15px;
    padding-right: 15px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.content-center {
    float: left;
    background-color: #E8E8E8;
    width: 295px;
    padding: 15px;
    height: 350px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.content-center p {
    text-align: justify;
}

.search-container {
    float: right;
    background-color: white;
    text-align: center;
    height: 50px;
    width: 200px;
}

.search-input {
    width: 150px;
    height: 50px;
    border: none;
}

.footer {
    float: left;
    background-color: 	#303030;
    width: 100%;
    padding-bottom: 15px;
}

footer h3 {
    font-size: 14px;
    margin-bottom: 8px;
    color: gainsboro;
}

.nav-footer {
    position: relative;
    left: 10%;
    padding: 30px 0;
}

.nav-footer ul {
    float: left;
    list-style-type: none;
    margin: 0 75px;
    padding: 0;
    text-align: left;
}

.nav-footer li a {
    font-size: 14px;
    display: inline-block;
    color: gainsboro;
    padding: 8px 0;
    text-decoration: none;
}

.footer-p {
    color: gainsboro;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }






/***********************************/


.aside {
    float: left;
    width: 20%;
}

.side-bar {
    margin: 0 50px;
    padding: 0;
    border: solid 1px white;
    list-style-type: none;
    background-color: #E0E0E0;
}

.side-bar__item {
    border-radius: 10px;
    margin: 10px;
    padding: 8px 10px;
    background-color: gray;
}

.side-bar__item a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.side-bar__item a:after {
    content: '\002B';
    color: white;
    float: right;
    margin-left: 5px;
    font-size: 15px;
    text-align: center;
}

.section {
    float: left;
    width: 80%;
    margin-bottom: 30px;
}

.article__2-col {
    position: relative;
    margin-right: 25px;
    margin-bottom: 25px;
    height: 280px;
    width: 37%;
    float: left;
    background-color: #E8E8E8;
}

.article__2-col--img-posotion img {
    float: right;
    height: 180px;
    width: 200px;
    margin: 10px;
}

.article__2-col h2 {
    color: orange;
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
}

.article__2-col h3 {
    margin-top: 45px;
    margin-left: 10px;
    font-size: 16px;
}

.article__2-col p {
    margin-left: 10px;
    margin-right: 210px;
}

.article__2-col a {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: deepskyblue;
}

.article__3-col {
    width: 24%;
    height: 350px;
    float: left;
    margin-right: 25px;
    background-color: #E8E8E8;
}

.article__3-col h2 {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.article__3-col img {
    width: 100%;
    height: 175px;
    padding: 10px;
}

.article__3-col p {
    margin: 0 10px 10px 10px;
    text-align: justify;
}

.content-center1 {
    float: left;
    background-color: #E8E8E8;
    width: 300px;
    padding: 15px;
    height: 350px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.content-center {
    float: left;
    background-color: #E8E8E8;
    width: 295px;
    padding: 15px;
    height: 350px;
    margin-right: 20px;
    margin-bottom: 20px;
}