$max-width:     100%;
$max-height:    100%;

$primary_font_family: "Arial, Helvetica, sans-serif";

$extra_small_font_size: 10px;
$smaller_font_size:     13px;
$small_font_size:       14px;
$medium_font_size:      15px;
$big_font_size:         16px;
$extra_big_font_size:   22px;

$extra_small_margin:    10px;
$smaller_margin:        20px;
$small_margin:          25px;
$medium_margin:         30px;
$big_margin:            50px;
$extra_big_margin:      75px;

$extra_small_padding:   10px;
$small_padding:         15px;
$medium_padding:        20px;
$big_padding:           30px;

$primary_color: #E8E8E8;
$company_color: orange;
$link_color: deepskyblue;

$basic_black_color: black;
$basic_white_color: white;

$lighter_gray_color: gainsboro;
$light_gray_color: #303030;
$gray_color: gray;

$medium_radius: 10px;